.add-to-cart {
  padding: 100px;
}
.single-cart-wrapper button {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #a97e45;
  border: 0px;
  color: #fff;
}
.cart-items-wrapper .single-cart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ececec;
  padding: 12px 40px;
  position: relative;
}
.cart-items-wrapper .single-cart-wrapper .single-cart-img-wrapper {
  flex: 4;
}
.cart-items-wrapper .single-cart-wrapper .single-cart-content-wrapper {
  flex: 8;
  margin-left: 28px;
}
.add-to-cart .rowt {
  border: 1px solid #777575;
  padding: 20px;
}
.add-to-cart .number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.add-to-cart .number input {
  width: 71px;
  text-align: center;
  border-radius: 0px !important;
  border: 1px solid #dcdcdc;
  border-left: 0px;
  border-right: 0px;
  color: #000;
  font-family: "Montserrat";
}
.add-to-cart .number span {
  font-size: 16px;
  padding: 1px 9px;
  line-height: 1.5;
  margin: 0px;
  border: 1px solid #dcdcdc;
}
.single-cart-content-wrapper h4 {
  font-family: "playfair-regular";
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
}
.single-cart-content-wrapper p {
  color: #6d6d6d;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
}
.single-cart-content-wrapper h6 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
}
.single-cart-content-wrapper h4.price {
  font-family: "tmo";
  font-size: 22px;
  font-weight: 400;
}
.order-summry-wrapper h5 {
  color: #a97e45;
  font-family: "tmo";
  font-size: 22px;
}
.note-wrapper label {
  font-family: "playfair-regular";
  color: #000;
  font-size: 18px;
}
.order-summry-wrapper p {
  font-family: "playfair-regular";
  font-size: 16px;
  font-style: italic;
}
.order-summry-wrapper .btn {
  color: #000000;
  font-family: "tmo";
  font-size: 18px;
  border: 1px solid #cccccc;
  border-radius: 0px;
  background: transparent;
  font-weight: 600;
}
.summary-content-wrapper h4 {
  font-family: "playfair-regular";
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
}
.summary-content-wrapper h5 {
  font-family: "playfair-regular";
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}
.summary-content-wrapper p {
  color: #6d6d6d;
  font-style: italic;
  margin-bottom: 45px !important;
}
.summary-content-wrapper h3 {
  color: #000000;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 26px;
  font-family: "Montserrat";
}
.delievery-btn-wrapper .btn {
  width: 78%;
  height: 51px;
  margin-bottom: 10px;
  font-weight: 700;
}
.delievery-btn-wrapper {
  margin-bottom: 10px !important;
}
.delievery-btn-wrapper .btn:hover {
  background: #fff;
  font-weight: 700;
  color: #000;
}
.summary-content-wrapper button.btn.up-btn {
  width: 169px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat";
}
/* responsive starts here*/
@media (max-width: 1100px) {
  .cart-items-wrapper .single-cart-wrapper {
    flex-direction: column;
  }
  .cart-items-wrapper .single-cart-wrapper .single-cart-content-wrapper {
    text-align: center;
  }
  .add-to-cart .number {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .order-summry-wrapper {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .add-to-cart .rowt {
    padding: 10px;
    margin: 20px;
  }
  .cart-items-wrapper .single-cart-wrapper {
    padding: 12px 19px;
  }
  .cart-items-wrapper .single-cart-wrapper .single-cart-content-wrapper {
    margin-left: 0px;
  }
  .delievery-btn-wrapper .btn {
    width: 103%;
    height: 51px;
    padding: 8px;
  }
}
@media (max-width: 360px) {
  .add-to-cart .rowt {
    margin: 7px;
  }
  .delievery-btn-wrapper .btn {
    font-size: 13px;
  }
}
