.faq {
    padding-bottom: 60px;
  }
  .faq-wrapper h2 {
    /* color: #fc5112; */
    font-size: 32px;
    /* font-weight: 700; */
    text-align: center;
  }
  div#accordion {
    margin-top: 30px;
    border: 1px solid #777575;
    padding: 24px 0px;
    padding-bottom: 0px;
  }
  div#accordion .card-header {
    background: transparent;
    border: none;
    padding: 17px 24px;
  }
  div#accordion .card {
    border-top: 1px solid #777575 !important;
    border-radius: 0px;
    border: none;
  }
  div#accordion a.card-link {
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
  }
  .faq-wrapper .card-body {
    padding: 20px;
    font-family: "Montserrat";
    font-size: 14px;
    color: #AFAFAF;
    font-weight: 600;
  }
  a.card-link[aria-expanded="true"] .fa-angle-down::before {
    content: "\f068";
  }
  div#accordion a.card-link:active,
  div#accordion a.card-link:focus {
    text-decoration: none;
  }
  /* responsive starts here */
  @media (max-width: 1100px) {
    .faq-wrapper h2 {
      font-size: 30px;
      text-align: center;
    }
  }
  @media (max-width: 480px) {
    div#accordion a.card-link {
      font-size: 16px;
    }
  }
  @media (max-width: 414px) {
    div#accordion a.card-link {
      font-size: 13px;
    }
  }
  