.pp_content.container h6 {
    color: #000;
}
.pp_content.container p:not(:last-child) {
    border-bottom: 1px solid #CCCCCC;
}
.pp_para {
    border: 1px solid #CCCCCC;
}
.pp_para h6 {
    padding: 1em;
    padding-left: 4rem;
}
.pp_para p {
    padding: 1rem;
    padding-left: 4rem;
    color: #AFAFAF;
}
.pp_content.container p:not(:last-child) {
    border-bottom: 1px solid #CCCCCC;
}
.pp_para h4 {
    color: #000;
    padding: 1rem;
    padding-left: 4rem;
    padding-top: 2rem;
}
.pp_content {
    padding: 3rem 0;
}
.pp_content {
    padding: 3rem 0;
}
@media(max-width:480px){
    .pp_content{
        padding: 3rem 10px;
    }
}