/* Product Detail Css Start Here */
.product_detail .product_images {
  display: flex;
  justify-content: center;
}
.logo-in-top img {
  filter: unset;
}
.product_detail {
  padding: 100px 0 60px 0;
}
.picture_box .product-single-image img.img-fluid {
  width: 540px;
  max-width: 540px;
  height: 720px;
}
.product_detail .picture_box .product_images figure {
  text-align: center;
}
.product_detail .picture_box .product_images figure img.img-fluid {
  margin: 0px auto;
  opacity: 0.5;
}
.product_detail .product_details_dv .name_box h3 {
  color: #000000;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'pfb';
}
.product_detail .product_details_dv ul.ratings {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.product_detail .product_details_dv ul.ratings li i {
  color: #a97e45;
}
.product_detail .product_details_dv ul.ratings li {
  margin-right: 8px;
}
.product_detail .product_details_dv .description p {
  color: #6d6d6d;
  font-size: 14px;
}
.product_detail .product_details_dv .detail_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.product_detail .product_details_dv .detail_box h4.property {
  color: #000;
  font-size: 18px;
  margin-bottom: 0px;
}
.product_detail .product_details_dv .detail_box h4.value {
  color: #000000;
  font-size: 20px;
  font-family: 'tmo';
  margin-right: 5.5rem;
  margin-bottom: 0;
}
.product_detail .product_details_dv .detail_box .sizes label h5 {
  color: #6d6d6d;
  font-size: 14px;
  font-family: "Roboto";
  border: 1px solid #cccccc;
  width: 41px;
  height: 41px;
  line-height: 40px;
  text-align: center;
  margin-right: 13px;
  font-weight: 300;
  margin-bottom: 0;
}
.product_detail .product_details_dv .detail_box .sizes label {
  position: relative;
  margin: 0;
}
.product_detail .product_details_dv .detail_box .sizes label input {
  position: absolute;
  opacity: 0;
}
.product_detail .product_details_dv .detail_box .sizes label:last-child h5 {
  margin: 0;
}
.product_detail
  .product_details_dv
  .detail_box
  .sizes
  label
  input:checked
  ~ span.checkmark
  h5 {
  color: #a97e45;
  border-color: #a97e45;
}
.product_detail .product_details_dv .detail_box label.colors_container {
  position: relative;
  margin: 0;
}
.product_detail .product_details_dv .detail_box label.colors_container input {
  position: absolute;
  opacity: 0;
}
.product_name p {
  margin: 0;
}
.product_stars_icon i {
  color: #a97e45;
  font-size: 12px;
}
.product_detail
  .product_details_dv
  .detail_box
  label.colors_container
  input:checked
  ~ span.checkmark
  img {
  border: 1px solid #a97e45;
}
.product_detail .product_details_dv .detail_box .colors {
  width: 157px;
}
.quantity_dv button {
  border: 1px solid #a4a4a4;
  background: transparent;
  height: 39px;
  width: 35px;
  color: #6b6b6b;
  transition: 0.6s;
}
.quantity_dv input {
  text-align: center;
  border: 1px solid #a4a4a4;
  background: transparent;
  height: 39px;
  width: 89px;
  color: #6d6d6d;
  font-size: 15px;
  font-weight: 500;
  margin: 0 -5px;
  text-align: center;
  font-family: "Mont";
}
.product_detail .product_details_dv .detail_box h4.value.tag {
  font-family: "Roboto";
  font-size: 14px;
  color: #a97e45;
  border: 1px solid #a97e45;
  padding: 10px 28px;
  font-weight: 400;
  /* text-transform: uppercase; */
  /* margin: 10px 20px 10px 0; */
  margin-right: 21px;
}
.product_detail .product_details_dv .detail_box h4.value.ez {
  color: #6d6d6d;
  font-size: 22px;
  /* margin: 18px 0; */
  margin-right: 5.5rem;
  font-family: 'playfair-regular';
}
.product_detail .product_details_dv .detail_box .ez_life_img_sec img {
  width: 119px;
  margin-right: 2.3rem;
}
.detail_box figure {
  margin-right: 2rem;
}
.product_detail .product_details_dv .detail_box img {
  /* width: 120px; */
  /* width: 41px; */
}
.product_detail .product_details_dv .detail_box img.color_img {
  width: 41px;
}
.product_detail .product_details_dv .detail_box .dropdown a.btn {
  padding: 0;
  border: 0;
  box-shadow: none;
  outline: none;
  background: transparent;
}
.detail_box .dropdown .dropdown-menu a.dropdown-item {
  border-bottom: 1px solid #ccc;
  padding: 8px 15px;
}
.detail_box .dropdown .dropdown-menu a.dropdown-item:last-child {
  border: 0;
}
.detail_box .dropdown .dropdown-menu {
  border-radius: 0;
}
.product_detail .product_details_dv .button-group {
  margin-top: 50px;
}
.product_detail .product_details_dv .button-group button.btn {
  border-radius: 0;
  border: 1px solid #cccccc;
  background: transparent;
  font-size: 18px;
  font-family: "Roboto";
  padding: 12px 50px;
}
.review_sec {
  background-image: url(../img/review_back.png);
  padding: 60px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.review_sec .review_box {
  padding: 50px 50px;
  background: #fff;
}
.review_sec .review_box .client_wrapper h4 {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
}
.review_sec .review_box .client_wrapper h3 {
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 10px;
}
.review_sec .review_box .country {
  display: flex;
  align-items: center;
}
.review_sec .review_box .country p {
  margin: 0;
  font-size: 12px;
  color: #000000a1;
  margin-left: 15px;
}
.review_sec .review_box p.para {
  margin: 0;
  font-size: 17px;
  color: #000000d6;
  line-height: 31px;
  padding-top: 19px;
}
.related_sec {
  padding: 60px 0 120px;
}
.related_sec .heading_wrapper h2 {
  font-size: 48px;
  color: #000000;
  text-align: center;
}
.related_sec .product-sec {
  margin: 40px 0;
}
.related_sec .product-sec .addtocartbtn {
  margin-top: 10px;
}
.related_sec button.slick-prev.slick-arrow::before {
  content: "\f104";
  color: #000000;
  font-family: "FontAwesome";
  font-size: 35px;
}
.related_sec button.slick-next.slick-arrow::before {
  content: "\f105";
  color: #000000;
  font-family: "FontAwesome";
  font-size: 35px;
}
.related_sec button.slick-next.slick-arrow {
  position: absolute;
  bottom: -60px;
  top: unset;
  left: 50px;
  right: 0;
  margin: 0px auto;
}
.related_sec button.slick-prev.slick-arrow {
  position: absolute;
  bottom: -60px;
  top: unset;
  left: 0;
  right: 50px;
  margin: 0px auto;
}
.recommend_sec {
  padding: 60px 0 100px;
}
.recommend_sec .heading_wrapper h2 {
  padding-bottom: 20px;
  color: #000;
  text-align: center;
}
.recommend_sec .product-sec {
  margin: 40px 0;
}
@media  (max-width: 767px) {
  section.right_bar_addtocart{
    width: 100%;
  }
  section.right_bar_addtocart .cancel{
    margin-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .picture_box .product-single-image img.img-fluid {
    width: 100%;
    max-width: 100%;
    height: 480px;
}
section.right_bar_addtocart{
  width: 100%;
}
section.right_bar_addtocart .cancel{
  margin-right: 20px;
}
}
@media (max-width: 480px){
  section.right_bar_addtocart{
    width: 100% !important; 
  }
  section.right_bar_addtocart .cancel{
    margin-right: 20px;
  }
}
/* Product Detail Css End Here */
/* seciton right bar css start  */
.add_to_cart_content span {
  border: 1px solid #AFAFAF;
  padding: 0.3rem 1rem;
  margin-right: -5px;
}
.add_to_cart_content {
  display: flex;
}
section.right_bar_addtocart .cancel {
  text-align: right;
}
section.right_bar_addtocart .total-addtocart {
  display: flex;
  justify-content: space-between;
}
section.right_bar_addtocart .total-addtocart p:nth-child(2) {
  font-family: 'tmo';
  font-weight: 600;
}
.addtocart_right .add_to_cart_content div p:nth-child(2) {
  color: #6D6D6D;
  font-size: 14px;
}
p.right_sam_txt {
  color: #AFAFAF;
  font-size: 14px;
}
.addtocart_right .add_to_cart_content div p:nth-child(3) {
  font-family: 'tmo';
  font-weight: 600;
}
section.right_bar_addtocart .btn-group a.custombtn.ptc.mt-5 {
  margin-top: 1rem !important;
}
section.right_bar_addtocart .btn-group {
  display: grid;
  text-align: center;
}
section.right_bar_addtocart.show {
  transform: translateX(0%);
}
section.right_bar_addtocart {
  position: fixed;
  right: 0;
  width: 25%;
  height: 100%;
  background: #fff;
  top: 0;
  z-index: 9;
  padding: 30px 10px 0px 10px;
  transition: 0.7s;
  transform: translateX(100%);
  box-shadow: 0px 0px 7px #ddd;
}
/* seciton right bar css end  */
/* product tabs section css start here */
div#desc p, div#desc strong {
  font-size: 14px;
  margin: 1rem 0;
}
div#desc p {
  color: #6D6D6D;
}
.tab-pane {
  border: 1px solid #CCCCCC;
  /* border-bottom: 1px solid #CCCCCC; */
  margin: 5px 0;
  padding: 0 1rem;
}
div#ship p{
  font-size: 14px;
  margin: 1rem 0;
  color: #6D6D6D;
}
h4.cusrev {
  color: #000;
}
.review-content .product_stars_icon {
  display: inline-block;
}
.review-content {
  display: flex;
    border-top: 1px solid #cccccc;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    padding: 0.6rem 0;
}
p.review_botm_para {
  color: #AFAFAF;
}
p.inital_para {
  margin: 0;
}
p.review_date {
  font-style: italic;
  font-size: 14px;
}
p.small_txt {
  color: #AFAFAF;
  font-size: 8px;
}
.review_detail {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
}
.wine_taste_sec .progress {
  background: #A97E45;
  border: 1px solid #A97E45;
  border-radius: 0;
  height: 12px;
  margin: 5px 0;
}
.wine_taste_sec .progress-bar {
  background-color: #fff;
}
.wine_taste_sec h3 {
  color: #000;
}
.progress_bar_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress_bar_txt p {
  margin: 0;
}
.progress.progress_2 .progress-bar {
  background-color: #A97E45;
}
.progress.progress_2 {
  background: #fff;
}
section.wine_taste_like_sec h3 {
  color: #000;
}
section.wine_taste_like_sec {
  padding: 4rem 0px;
}
section.product_tabs_section .nav-tabs .nav-link {
  border: 1px solid #CCCCCC;
  margin-right: 5px;
  /* color: #000; */
}
section.product_tabs_section .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #cccccc;
}
section.product_tabs_section .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #A97E45;
  color: #fff !important;
}
section.product_tabs_section .nav-tabs .nav-link{
  color: #000;
  border-radius: 0;
  font-family: 'tmo';
}
section.product_tabs_section .nav-tabs {
  border-bottom: 0;
}
div#Reviews {
  padding: 1rem;
}
div#Reviews form {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1rem;
  display: none;
}
div#Reviews .review_form.show{
  display: block;
}
div#Reviews .review_form{
  display: none;
}
@media  (max-width: 767px) {
  section.product_tabs_section .nav-tabs .nav-link{
    padding: 0.5rem 2px;
  }
}
@media screen and (max-width: 576px) {
  section.product_tabs_section .nav-tabs .nav-link{
    padding: 0.5rem 2px;
  }
}
@media (max-width: 480px){
  section.product_tabs_section .nav-tabs .nav-link{
    padding: 0.5rem 2px;
  }
}
/* product tabs section css end here */
/* food that good section css start here */
section.food_that_good_sec h3 {
  color: #000;
}
section.food_that_good_sec {
  padding: 2rem 0;
}
section.food_that_good_sec img.img-fluid.ftgw {
  width: auto;
  height: 140px;
  max-width: 140px;
}
/* food that good section css end here */
