@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "playfair-regular";
  src: url(../fonts/playfair_display/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "pfm";
  src: url(../fonts/playfair_display/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: "pfb";
  src: url(../fonts/playfair_display/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family: "tmo";
  src: url(../fonts/TextMeOne-Regular.ttf);
}
@font-face {
  font-family: "mont";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "keiraseriffree-regular";
  src: url(../fonts/keiraseriffree/KeiraseriffreeRegular.otf);
}

@font-face {
  font-family: "calisto-mt";
  src: url(../fonts/calisto-mt/calisto.TTF);
}

/* universal css */
* {
  font-family: "playfair-regular";
}

h1 {
  /* font-size: 53px; */
  font-size: 40px;
}

h2 {
  font-size: 41px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 18px;
}

h1,
h3,
h2,
h4,
h5,
h6 {
  font-family: "playfair-regular";
  color: #ffffff;
}
.head h4 {
  font-size: 35px;
  margin-bottom: 1.5rem;
}
section.section-head .head p {
  word-spacing: 4px;
  font-size: 18px;
}
.head {
  background: url(../img/contactus1.png);
  height: 253px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 576px) {
  .head{
    height: auto;
    background-size: 100% 100%;
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .head{
    height: auto !important;
    background-size: 100% 100%  !important;
    padding: 30px;
  }
  .head h4 {
    font-size: 25px;
    margin-bottom: 0.5rem;
}
}
.form-control {
  border-radius: 0;
}
p {
  font-family: "playfair-regular";
}
label {
  font-family: "mont";
  font-size: 15px;
  color: #2a263d;
}
a.btn {
  padding: 15px 35px;
  border-radius: 0px;
  
}
.custombtn {
  font-family: "tmo";
  border: 1px solid #cccccc;
  background: transparent;
  color: #000;
  padding: 0.5rem 1.5rem;
  border-radius: 0;
}
.custombtn:hover{
  box-shadow: 0px 0px 0px 2px #a97e45;
}
.custombtn1 {
  font-family: "tmo";
  border: 1px solid #cccccc;
  background: transparent;
  color: #6d6d6d;
  padding: 0.5rem 1rem;
  border-radius: 0;
}
.logo-in-top img {
  width: 145px;
}
a {
  font-family: "playfair-regular";
}
header#header {
  padding: 2rem 5rem;
}
.header-icon i {
  font-size: 15px;
  color: #fff;
  background: #000;
  margin-right: 10px;
  padding: 8px;
  border-radius: 50%;
}
@media (max-width: 575px) {
  header#header  {
    padding: 2rem 0rem;
  }
  header#header {
    overflow-x: hidden;
}
.header-icon i {
  margin-right: 5px;
}
}
/* Product Css Start Here */
.product-sec {
  text-align: center;
}
.product-sec .product-icon hr {
  width: 100%;
}
.product-sec .product-icon {
  display: flex;
  align-items: center;
}
.product-sec .product-icon img.img-fluid {
  width: 12px;
  height: fit-content;
}
.product-sec .product-icon hr {
  width: 40%;
}
.product-sec .addtocartbtn i {
  margin-right: 15px;
}
/* .product-img img.img-fluid {
  width: 150px;
  margin: auto;
  height: 200px;
} */
.product-img img.img-fluid {
  width: 300px;
  margin: auto;
  height: 323px;
}
.products-par p {
  color: #a97e45;
  color: #a97e45;
  font-family: 'tmo';
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}
.product_stars_icon i {
  color: #a97e45;
}
/* Product Css End Here */

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0068b4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Mobile Header */
.mobile-header {
  width: 25%;
  height: 100%;
  position: fixed;
  background: #000000;
  top: 0;
  z-index: 9;
  left: 0;
  padding: 30px 10px 0px 10px;
  transition: 0.7s;
  transform: translateX(-102%);
  box-shadow: 0px 0px 7px #ddd;
}

.mobile-nav {
  padding-left: 40px !important;
}
.mobile-header .navbar-nav .nav-link {
  padding: .8rem;
}
.mobile-header .nav_social i {
  font-size: 30px;
}
li.nav-link a {
  color: #ffffff;
}

.for-search-in-nav {
  width: 74%;
  background-color: #333232;
  margin-top: 40px;
  padding: 8px 0px;
}

.for-search-in-nav input {
  background-color: transparent;
  border: 0px;
  outline: none;
  padding-left: 15px;
  width: 90%;
}

#header .mobile-header.show {
  transform: translateX(0%);
}

#header .mobile-header ul.mobile-nav {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

#header .mobile-header .cancel {
  background: #000000;
  width: 35px;
  text-align: center;
  height: 34px;
  line-height: 35px;
  margin: 0px 20px 20px auto;
  color: #fff;
}

#header .mobile-header ul.mobile-nav li.nav-item {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #dddddd4a;
}

#header .mobile-header ul.mobile-nav li.nav-item a {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
}

#header .canvas-icon i {
  font-size: 24px;
  /* background:; */
  padding: 5px 7px;
  color: #000;
  display: unset;
}
.mobile-header .nav_social {
  margin-top: 6rem;
}

@media (max-width: 991px) {
  #header .nav {
    display: none;
  }

  .responsive-contact-btn {
    display: initial;
  }

  .navbar-items {
    display: none !important;
  }

  .all-normal-navs {
    justify-content: space-between !important;
  }

  #header .second-col-input {
    display: none;
  }

  #header button.navbar-toggler {
    display: none;
  }

  #header .canvas-icon i {
    display: unset;
  }
}

@media (max-width: 575px) {
  #header .mobile-header {
    width: 65%;
  }
}

@media (max-width: 480px) {
  #header .mobile-header {
    width: 55%;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.banner-homepage {
  background-image: url(../img/home-banner.png);
  width: 100%;
  /* height: 896px; */
  background-size: cover;
  /* padding-top: 137px; */
  /* padding-top: 73px; */
  padding: 63px;
  background-position: center center;
  height: 815px;
  /* height: 100%; */
  /* height: 743px; */
}
@media(max-width:1280px){
  .banner-homepage{
    height: 900px;
  }
}
@media(max-width:1024px){
  .banner-homepage{
    height: 1000px;
  }
}
/* @media(max-width:767px){
  .banner-homepage{
    height: 1070px;
  }
} */
.banner-homepage .banner-text-start h4 {
  font-size: 20px;
  margin-bottom: 1.8rem;
}
.banner-homepage .banner-text-start h1 {
  font-size: 42px;
    margin-bottom: 2rem;
    line-height: 57px;
}
.logo-in-top {
  display: flex;
  justify-content: center;
}

.logo-in-top h1 {
  font-family: "keiraseriffree-regular";
  font-size: 45px;
  color: #000;
  margin-bottom: 0px !important;
}

.logo-in-top h6 {
  font-family: "playfair-regular";
  font-size: 13.5px;
  color: #000;
}

.banner-text-section {
  text-align: center;
  height: 680px;
  display: flex;
  align-items: center;
}

.banner-text-start {
  text-align: center;
  width: 100%;
}

.banner-text-start p {
  font-size: 10px;
  /* color: #ffffff; */
  color: #97887a;
  /* opacity: 0.6; */
  font-weight: lighter;
}

.banner-text-start a.btn {
  font-size: 9px;
  color: #ffffff;
  background-color: #a97e45;
  margin-top: 35px;
  letter-spacing: 3px;
    text-transform: uppercase;
}

.chat-now-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9;
}

.chat-now-btn button {
  border: 0px;
  background-color: transparent;
}

.main-header-icon {
  position: absolute;
  top: 25px;
  left: 25px;
}

/* catogaries start */

.categories-in-home {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 80px;
}

.text-in-catogaires h6 {
  color: #a97e45;
}

.category-name h4 {
  color: #ffffff;
  font-size: 23px;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.text-in-catogaires p {
  /* color: #ffffff; */
  color: #838080;
    font-size: 11px;
}

.all-categories {
  margin-top: 80px;
  padding-bottom: 130px;
}

.first-category {
  padding-top: 90px;
}

.single-category {
  height: 100%;
}
.view-more-categories {
  position: relative;
}
.cat-view-more {
  font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom: -45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    left: 0;
    right: 0;
}

/* our process start */
.our-process-start {
  padding-top: 50px;
  padding-bottom: 56px;
}

.our-process-text-top {
  text-align: center;
}

.our-process-text-top h1 {
  color: #000000;
}

.our-process-text-top p {
  color: #000000;
  opacity: 0.6;
  font-size: 12px;
}

/* Process- boxes */
.single-process {
  padding-left: 6.5%;
}
@media (max-width: 480px){
  .single-process {
    padding-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .single-process {
    padding-left: 0;
  }
}

.single-process-box {
  padding: 30px 28px 30px 48px;
  width: 79%;
  border: 1px solid #70707024;
  display: flex;
}

.text-in-process-box {
  padding-left: 25px;
}

.text-in-process-box h6 {
  font-family: "calisto-mt";
  color: #a97e45;
  font-size: 19px;
  font-style: italic;
}

.text-in-process-box h1,
.text-in-process-box h4 {
  color: #000000;
}

.text-in-process-box p {
  font-size: 14px;
  opacity: 0.6;
}

.procces-with-logo {
  display: flex;
}

.for-read-more-in-process {
  /* margin-top: 35px; */
}

.for-read-more-in-process a {
  color: #a97e45;
  font-size: 14px;
  letter-spacing: 2px;
}

/* Process End Here  */

/*  every one liking start */

.everyone-is-liking-section {
  width: 100%;
  height: 800px;
  /* padding: 120px 0px; */
  background-image: url(../img/everyoneliking.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.everyoneliking-right-taste {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -2rem;
}
.everyoneliking-right-taste h1 {
  margin-top: 1.5rem;
}
section.blogs-in-home .single-blog-card {
  padding-right: 10px;
}
.yellowish-heading {
  color: #c89552;
  font-size: 18px;
  /* font-style: italic; */
  margin-bottom: 0px;
  font-family: "playfair-regular";
}
@media screen and (max-width: 576px) {
  .everyoneliking-right-taste{
    margin-top: 1rem;
  }
}

/* .everyoneliking-right-taste h6{
  
} */
.everyoneliking-right-taste p {
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
}

.inside-accordian-box {
  background-color: #ffffff;
  padding: 86px 50px 89px 30px;
  margin-right: 5rem;
}

.top-text-in-accrodian-box h1 {
  color: #000000;
}

/* bootstrap accordian css */

.card-header:first-child {
  border-radius: 0px;
}

.card-header {
  padding: 12px;
}

.acoordian-in-box .accordion .card {
  border: 0px;
  border-bottom: 1px solid #707070;
  border-radius: 0px;
}

.acoordian-in-box .accordion .card .card-header {
  padding: 25px 0px;
  margin-bottom: 0;
  background-color: transparent;
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
  border: 0px !important;
}

.card-header .btn.collapsed::after {
  content: "";
  background-image: url(../img/plus.png);
  height: 25px;
  width: 12px;
}

.card-header .btn::after {
  content: "";
  background-image: url(../img/minus.png);
  height: 25px;
  width: 10px;
}

.card-header .btn {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

/* Wine for everyone start */
.wine-for-every-one {
  padding: 80px 0px;
}

.single-wine-for-everyone {
  width: 100%;
}

.for_texta_at_top h1 {
  color: #000000;
}

.for_texta_at_top p {
  opacity: 0.6;
  font-size: 15px;
  color: #08090b;
}

.for_texta_at_top {
  padding-left: 35px;
  padding-right: 25px;
}

.for_texta_at_top a {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
}
.wine-for-everyone-top-text h1 {
  color: #000000;
}
.wine-for-everyoe-start {
  margin-top: 120px;
}

@media screen and (max-width: 991px) {
  .single-category .single-category-inner {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .categpry-picture img {
    width: 100%;
  }
  .for-left-side-barder {
    border-right: 0px !important;
  }
  .footer-details {
    margin-top: 35px !important;
  }
  .procces-with-logo {
    display: unset;
  }

  .single-process-box {
    width: 100%;
  }
  .single-slick-card {
    margin-top: 0px;
  }
  .single-category {
    display: unset !important;
    align-items: unset !important;
  }

  .single-category .single-category-inner {
    margin-top: 40px !important;
  }

  .single-category.d-flex.align-items-start div {
    width: 100%;
  }

  .chat-now-btn {
    position: fixed;
    bottom: 45px;
    right: 30px;
    width: 140px;
}

  .single-wine-for-everyone {
    margin-top: 68px;
  }
}

@media screen and (max-width: 576px) {
  .text-in-process-box {
    padding: 0px;
  }
  .chat-now-btn {
    position: fixed;
    bottom: 45px;
    right: 30px;
    width: 140px;
}
}

/* top ten section start */
.toptensection {
  background-image: url(../img/topntenbackground.png);
  background-size: cover;
  width: 100%;
  padding: 124px 0px;
  background-position: center center;
}
.toptensection .todolist .slick-slide {
  /* padding-right: 1rem; */
  padding: 1rem;
}
.toptensection .todolist .slick-slide.slick-current.slick-active img:nth-child(1) {
  border: 8px solid transparent;
  box-shadow: 0px 0px 0px 1px #ffffff;
}
.toptensection .todolist .slick-slide img {
  border: 8px solid transparent;
}
/* .toptensection .todolist .slick-slide.slick-active img:nth-child(1) {
  border: 8px solid transparent;
  box-shadow: 0px 0px 0px 1px #ffffff;
} */
.toptensection .todolist .slick-slide.slick-active img:nth-child(2) {
  border: 0;
  box-shadow: unset;
}
div#carouselExampleControls .carousel-inner {
  width: 76%;
  margin-left: 12%;
}
div#carouselExampleControls .carousel-control-prev {
  left: -10px;
}
div#carouselExampleControls .carousel-control-next {
  right: -10px;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.text-in-slider {
  background-color: #171313cc;
  text-align: center;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 10px 0px;
}

.text-in-slider h2 {
  color: #d3d9d5;
  font-size: 40px !important;
  margin-bottom: 0px;
}

.text-after-slider {
  width: 76%;
  margin-left: 12%;
  margin-top: 12px;
}

.text-after-slider {
  color: #ffffff;
}

.green-text {
  color: #c89552;
}

.for-top-text p {
  color: #ffffff;
  font-size: 14px;
}

/* .slick-active-card {
  border: 8px solid transparent;
  box-shadow: 0px 0px 0px 1px #ffffff;
} */

.single-slick-card {
  position: relative;
  /* display: flex; */
  align-items: flex-end;
}

.single-slick-card img {
  width: 100%;
}
.todolist  .slick-dots li button:before{
  font-size: 12px;
  /* margin-top: 2rem; */
  color: #fff;
  opacity: 1;
}
.todolist .slick-dots{
  bottom: -60px;
}
.todolist  .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #A97E45;
}
.text-inc-slick-card {
  display: block;
  position: absolute;
  /* width: 100%; */
  bottom: 24px;
  text-align: center;
  background-color: #171313cc;
  padding: 8px 0px;
  width: 240px;
  width: 221px;
    margin-left: 8px;
}

.text-inc-slick-card h5 {
  margin-bottom: 0px;
}

.blogs-in-home {
  padding-top: 50px;
}

.text-above-blogs h1 {
  color: #000000;
}

.text-above-blogs p {
  color: #000000;
  opacity: 0.5;
}
@media screen and (max-width: 576px) {
  div#carouselExampleControls .carousel-inner{
    width: 100%;
    margin-left: 0;
  }
  .text-inc-slick-card{
    width: 311px;
    bottom: 25px;
  }
}
/* top ten section end */
/* Blogs CSS Start */
.all-blogs {
  margin-top: 65px;
}

.single-blog-card p {
  font-size: 14px;
  color: #000000;
}

.single-blog-card a {
  color: #a7a7a7;
  font-size: 14px;
}

.single-blog-card a img {
  padding-left: 15px;
}

/* Blogs End Here */

/* News Letter Start here */
.news-letter-start {
  background-image: url(../img/news-letter.png);
  padding: 154px 0px;
  background-size: cover;
  background-position: center;
    background-size: 100% 100%;
}

.news-latter-box {
  width: 60%;
  margin-left: 20%;
  background-color: #ffffff;
  padding: 50px 10%;
}

.news-latter-box form input {
  display: block;
  background-color: transparent;
  width: 100%;
  border: 0px;
  border-radius: 0px;
  margin-top: 12px;
  border-bottom: 1px solid;
  padding: 30px 12px 4px 12px;
  outline: none;
  font-family: 'playfair-regular';
}

.news-latter-box h6 {
  font-style: unset;
}

.news-latter-box h2 {
  color: #000000;
}

.news-latter-box button {
  margin-top: 45px;
  padding: 12px 40px;
  border-radius: 0px;
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  font-family: "playfair-regular";
  letter-spacing: 3px;
}

section.news-letter-section {
  margin: 80px 0px 130px  0px;
}

@media screen and (max-width: 576px) {
  .news-latter-box {
    width: 90%;
    margin-left: 5%;
  }
}

/* Footer Start */
.footer {
  background-color: #000000;
  padding-top: 35px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.footer-logo img {
  transform: scale(0.8);
}
.footer-start {
  padding-bottom: 100px;
}
.footer-details .col-md-6:first-child {
  border-right: 1px solid #707070;
}
.footer-details {
  margin-top: 70px;
}

.footer-logo div h3 {
  font-family: "keiraseriffree-regular" !important;
}

.footer-logo div h3 {
  font-size: 29px;
  margin-bottom: 0px;
}

.footer-logo div h6 {
  font-size: 9px;
}

.footer-single-side {
  padding: 30px 0px;
}

.footer-single-side .footer-links .numbeer {
  display: block;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.5;
}

.footer-single-side .footer-links p {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 13px;
  opacity: 0.5;
  line-height: 22px;
}

.for-left-side-barder {
  /* border-right: 1px solid; */
}

.footer-single-side .footer-links .email {
  display: block;
  color: #ffffff;
  font-size: 13px;
  opacity: 0.5;
}

.for-all-copy-right-links {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  padding: 25px 0px;
  border-top: 1px solid #707070;
}

.for-all-copy-right-links div a,
.for-all-copy-right-links div span {
  color: #ffffff;
  font-size: 13px;
  opacity: 0.5;
}
@media(max-width:480px){
  .for-all-copy-right-links div a,
.for-all-copy-right-links div span {
  font-size: 8px;
}

}